.b0 {
    width: 54px;
    height: 17px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0.gif?v=cca64fec87) no-repeat
}

.bWH0 {
    background-position: 0 0
}

.bWB0 {
    background-position: 0 -17px
}

.bVC0 {
    background-position: 0 -34px
}

.bSO0 {
    background-position: 0 -51px
}

.bSK0 {
    background-position: 0 -68px
}

.bSJ0 {
    background-position: 0 -85px
}

.bSI0 {
    background-position: 0 -102px
}

.bPP0,.bPP0-ca {
    background-position: 0 -119px
}

.bPN0 {
    background-position: 0 -136px
}

.bLD0 {
    background-position: 0 -153px
}

.bFR0 {
    background-position: 0 -170px
}

.bEE0 {
    background-position: 0 -187px
}

.bCE0 {
    background-position: 0 -204px
}

.bBY0 {
    background-position: 0 -221px
}

.bBX0 {
    background-position: 0 -238px
}

.bBW0 {
    background-position: 0 -255px
}

.bFB0,.bT10 {
    background-position: 0 -272px
}

.bBF0 {
    background-position: 0 -289px
}

.bBD0 {
    background-position: 0 -306px
}

.bB30 {
    background-position: 0 -323px
}

.bMA0 {
    background-position: 0 -340px
}

.bRD0,.bRD0-ca {
    background-position: 0 -357px
}

.bEB0,.bEB0-ca {
    background-position: 0 -374px
}

.bYW0 {
    background-position: 0 -391px
}

.bWA0 {
    background-position: 0 -408px
}

.bSX0 {
    background-position: 0 -425px
}

.bMR0 {
    background-position: 0 -442px
}

.bUN0 {
    background-position: 0 -459px
}

.bWN0 {
    background-position: 0 -476px
}

.bBB0 {
    background-position: 0 -493px
}

.bTI0 {
    background-position: 0 -510px
}

.bJB0,.bJB0-ca {
    background-position: 0 -527px
}

.bRB0 {
    background-position: 0 -544px
}

.bDU0-ca {
    background-position: 0 -561px
}

.bBG0-ca {
    background-position: 0 -578px
}

.bVG0-ca {
    background-position: 0 -595px
}

.bRP0-ca {
    background-position: 0 -612px
}

.bOE0 {
    background-position: 0 -629px
}

.bSF0 {
    background-position: 0 -646px
}

.bCO0 {
    background-position: 0 -663px
}

.bLV0,.bLV0-ca {
    background-position: 0 -680px
}

.bWA0-ca {
    background-position: 0 -697px
}

.bWV0-ca {
    background-position: 0 -714px
}

.bNT0,.bNT0-ca {
    background-position: 0 -731px
}

.bWN0-ca {
    background-position: 0 -748px
}

.bCC0-ca {
    background-position: 0 -765px
}

.bMK0 {
    background-position: 0 -782px
}

.bDF0 {
    background-position: 0 -799px
}

.bPS0 {
    background-position: 0 -816px
}

.bKS0-ca {
    background-position: 0 -833px
}

.b770-ca {
    background-position: 0 -850px
}

.bTY0 {
    background-position: 0 -867px
}

.bO30 {
    background-position: 0 -884px
}

.bCW0 {
    background-position: 0 -901px
}

.bSK0-ca {
    background-position: 0 -918px
}

.bBF0-ca {
    background-position: 0 -935px
}

.bGL0-ca {
    background-position: 0 -952px
}

.bFO0 {
    background-position: 0 -969px
}

.bGC0 {
    background-position: 0 -986px
}

.bPL0-ca {
    background-position: 0 -1003px
}

.bBL0 {
    background-position: 0 -1020px
}

.bFD0 {
    background-position: 0 -1037px
}

.bZL0 {
    background-position: 0 -1054px
}

.bP30 {
    background-position: 0 -1071px
}

.bRZ0 {
    background-position: 0 -1088px
}

.bZM0-ca {
    background-position: 0 -1105px
}

.bJS0-ca {
    background-position: 0 -1122px
}

.bQV0-ca {
    background-position: 0 -1139px
}

.bPC0-ca {
    background-position: 0 -1156px
}

.bGR0 {
    background-position: 0 -1173px
}

.bBK0 {
    background-position: 0 -1190px
}

.bSH0-ca {
    background-position: 0 -1207px
}

.bOM0-ca {
    background-position: 0 -1224px
}

.bPT0-ca {
    background-position: 0 -1241px
}

.b210-ca {
    background-position: 0 -1258px
}

.bCI0-ca {
    background-position: 0 -1275px
}

.bBY0-ca {
    background-position: 0 -1292px
}

.bVS0-ca {
    background-position: 0 -1309px
}

.bAK0-ca {
    background-position: 0 -1326px
}

.bMS0-ca {
    background-position: 0 -1343px
}

.bPW0-ca {
    background-position: 0 -1360px
}

.bMI0-ca {
    background-position: 0 -1377px
}

.bCN0-ca {
    background-position: 0 -1394px
}

.bSV0-ca {
    background-position: 0 -1411px
}

.bGT0-ca {
    background-position: 0 -1428px
}

.bLE0-ca {
    background-position: 0 -1445px
}

.bWK0-ca {
    background-position: 0 -1462px
}

.bPE0 {
    background-position: 0 -1479px
}

.bRY0 {
    background-position: 0 -1498px
}

.b0big-ca {
    width: 160px;
    height: 45px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big_ca.gif?v=a9839a7304) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.b0med-ca {
    width: 96px;
    height: 27px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big_ca.gif?v=a9839a7304) 0 0/96px 2781px no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.bWH0big-ca,.bWH0med-ca {
    background-position: 0 0
}

.bWN0big-ca {
    background-position: 0 -45px
}

.bWN0med-ca {
    background-position: 0 -27px
}

.bSK0big-ca {
    background-position: 0 -90px
}

.bSK0med-ca {
    background-position: 0 -54px
}

.bLD0big-ca {
    background-position: 0 -135px
}

.bLD0med-ca {
    background-position: 0 -81px
}

.bFR0big-ca {
    background-position: 0 -180px
}

.bFR0med-ca {
    background-position: 0 -108px
}

.bEE0big-ca {
    background-position: 0 -225px
}

.bEE0med-ca {
    background-position: 0 -135px
}

.bBF0big-ca {
    background-position: 0 -270px
}

.bBF0med-ca {
    background-position: 0 -162px
}

.bCE0big-ca {
    background-position: 0 -315px
}

.bCE0med-ca {
    background-position: 0 -189px
}

.bB30big-ca {
    background-position: 0 -360px
}

.bB30med-ca {
    background-position: 0 -216px
}

.bBY0big-ca {
    background-position: 0 -405px
}

.bBY0med-ca {
    background-position: 0 -243px
}

.bBG0big-ca {
    background-position: 0 -450px
}

.bBG0med-ca {
    background-position: 0 -270px
}

.bMG0big-ca {
    background-position: 0 -495px
}

.bMG0med-ca {
    background-position: 0 -297px
}

.bGC0big-ca {
    background-position: 0 -540px
}

.bGC0med-ca {
    background-position: 0 -324px
}

.bVC0big-ca {
    background-position: 0 -585px
}

.bVC0med-ca {
    background-position: 0 -351px
}

.bBL0big-ca {
    background-position: 0 -630px
}

.bBL0med-ca {
    background-position: 0 -378px
}

.bJB0big-ca {
    background-position: 0 -675px
}

.bJB0med-ca {
    background-position: 0 -405px
}

.bWA0big-ca {
    background-position: 0 -720px
}

.bWA0med-ca {
    background-position: 0 -432px
}

.bWV0big-ca {
    background-position: 0 -765px
}

.bWV0med-ca {
    background-position: 0 -459px
}

.bMT0big-ca {
    background-position: 0 -810px
}

.bMT0med-ca {
    background-position: 0 -486px
}

.bPP0big-ca {
    background-position: 0 -855px
}

.bPP0med-ca {
    background-position: 0 -513px
}

.bCO0big-ca {
    background-position: 0 -900px
}

.bCO0med-ca {
    background-position: 0 -540px
}

.bJP0big-ca {
    background-position: 0 -945px
}

.bJP0med-ca {
    background-position: 0 -567px
}

.bSU0big-ca {
    background-position: 0 -990px
}

.bSU0med-ca {
    background-position: 0 -594px
}

.bLV0big-ca {
    background-position: 0 -1035px
}

.bLV0med-ca {
    background-position: 0 -621px
}

.bBB0big-ca {
    background-position: 0 -1080px
}

.bBB0med-ca {
    background-position: 0 -648px
}

.bRP0big-ca {
    background-position: 0 -1125px
}

.bRP0med-ca {
    background-position: 0 -675px
}

.bGR0big-ca {
    background-position: 0 -1170px
}

.bGR0med-ca {
    background-position: 0 -702px
}

.bCN0big-ca {
    background-position: 0 -1215px
}

.bCN0med-ca {
    background-position: 0 -729px
}

.bVG0big-ca {
    background-position: 0 -1260px
}

.bVG0med-ca {
    background-position: 0 -756px
}

.bMI0big-ca {
    background-position: 0 -1305px
}

.bMI0med-ca {
    background-position: 0 -783px
}

.bGL0big-ca {
    background-position: 0 -1350px
}

.bGL0med-ca {
    background-position: 0 -810px
}

.bMY0big-ca {
    background-position: 0 -1395px
}

.bMY0med-ca {
    background-position: 0 -837px
}

.bTI0big-ca {
    background-position: 0 -1440px
}

.bTI0med-ca {
    background-position: 0 -864px
}

.bMN0big-ca {
    background-position: 0 -1485px
}

.bMN0med-ca {
    background-position: 0 -891px
}

.bCC0big-ca {
    background-position: 0 -1530px
}

.bCC0med-ca {
    background-position: 0 -918px
}

.bFC0big-ca {
    background-position: 0 -1575px
}

.bFC0med-ca {
    background-position: 0 -945px
}

.bPH0big-ca {
    background-position: 0 -1620px
}

.bPH0med-ca {
    background-position: 0 -972px
}

.bSF0big-ca {
    background-position: 0 -1665px
}

.bSF0med-ca {
    background-position: 0 -999px
}

.bCM0big-ca {
    background-position: 0 -1710px
}

.bCM0med-ca {
    background-position: 0 -1026px
}

.bSR0big-ca {
    background-position: 0 -1755px
}

.bSR0med-ca {
    background-position: 0 -1053px
}

.bPR0big-ca {
    background-position: 0 -1800px
}

.bPR0med-ca {
    background-position: 0 -1080px
}

.bMF0big-ca {
    background-position: 0 -1845px
}

.bMF0med-ca {
    background-position: 0 -1107px
}

.bKA0big-ca {
    background-position: 0 -1890px
}

.bKA0med-ca {
    background-position: 0 -1134px
}

.bNT0big-ca {
    background-position: 0 -1935px
}

.bNT0med-ca {
    background-position: 0 -1161px
}

.bKE0big-ca {
    background-position: 0 -1980px
}

.bKE0med-ca {
    background-position: 0 -1188px
}

.bFX0big-ca {
    background-position: 0 -2025px
}

.bFX0med-ca {
    background-position: 0 -1215px
}

.bKS0big-ca {
    background-position: 0 -2070px
}

.bKS0med-ca {
    background-position: 0 -1242px
}

.b770big-ca {
    background-position: 0 -2115px
}

.b770med-ca {
    background-position: 0 -1269px
}

.bEB0big-ca {
    background-position: 0 -2160px
}

.bEB0med-ca {
    background-position: 0 -1296px
}

.bOE0big-ca {
    background-position: 0 -2205px
}

.bOE0med-ca {
    background-position: 0 -1323px
}

.bSJ0big-ca {
    background-position: 0 -2250px
}

.bSJ0med-ca {
    background-position: 0 -1350px
}

.b210big-ca {
    background-position: 0 -2295px
}

.b210med-ca {
    background-position: 0 -1377px
}

.bMA0big-ca {
    background-position: 0 -2340px
}

.bMA0med-ca {
    background-position: 0 -1404px
}

.bLO0big-ca {
    background-position: 0 -2385px
}

.bLO0med-ca {
    background-position: 0 -1431px
}

.bPL0big-ca {
    background-position: 0 -2430px
}

.bPL0med-ca {
    background-position: 0 -1458px
}

.bDU0big-ca {
    background-position: 0 -2475px
}

.bDU0med-ca {
    background-position: 0 -1485px
}

.bRD0big-ca {
    background-position: 0 -2520px
}

.bRD0med-ca {
    background-position: 0 -1512px
}

.bSI0big-ca {
    background-position: 0 -2565px
}

.bSI0med-ca {
    background-position: 0 -1539px
}

.bZM0big-ca {
    background-position: 0 -2610px
}

.bZM0med-ca {
    background-position: 0 -1566px
}

.bJS0big-ca {
    background-position: 0 -2655px
}

.bJS0med-ca {
    background-position: 0 -1593px
}

.bQV0big-ca {
    background-position: 0 -2700px
}

.bQV0med-ca {
    background-position: 0 -1620px
}

.bPC0big-ca {
    background-position: 0 -2745px
}

.bPC0med-ca {
    background-position: 0 -1647px
}

.bSH0big-ca {
    background-position: 0 -2790px
}

.bSH0med-ca {
    background-position: 0 -1674px
}

.bOM0big-ca {
    background-position: 0 -2835px
}

.bOM0med-ca {
    background-position: 0 -1701px
}

.bPT0big-ca {
    background-position: 0 -2880px
}

.bPT0med-ca {
    background-position: 0 -1728px
}

.bCI0big-ca {
    background-position: 0 -2925px
}

.bCI0med-ca {
    background-position: 0 -1755px
}

.bMS0big-ca {
    background-position: 0 -2970px
}

.bMS0med-ca {
    background-position: 0 -1782px
}

.bSO0big-ca {
    background-position: 0 -3015px
}

.bSO0med-ca {
    background-position: 0 -1809px
}

.bUN0big-ca {
    background-position: 0 -3060px
}

.bUN0med-ca {
    background-position: 0 -1836px
}

.bVS0big-ca {
    background-position: 0 -3105px
}

.bVS0med-ca {
    background-position: 0 -1863px
}

.bAK0big-ca {
    background-position: 0 -3150px
}

.bAK0med-ca {
    background-position: 0 -1890px
}

.bPW0big-ca {
    background-position: 0 -3195px
}

.bPW0med-ca {
    background-position: 0 -1917px
}

.bSV0big-ca {
    background-position: 0 -3240px
}

.bSV0med-ca {
    background-position: 0 -1944px
}

.bGT0big-ca {
    background-position: 0 -3285px
}

.bGT0med-ca {
    background-position: 0 -1971px
}

.bLE0big-ca {
    background-position: 0 -3330px
}

.bLE0med-ca {
    background-position: 0 -1998px
}

.bWK0big-ca {
    background-position: 0 -3375px
}

.bWK0med-ca {
    background-position: 0 -2025px
}

.bPS0big-ca {
    background-position: 0 -3420px
}

.bPS0med-ca {
    background-position: 0 -2052px
}

.bAR0big-ca {
    background-position: 0 -3465px
}

.bAR0med-ca {
    background-position: 0 -2079px
}

.bEY0big-ca {
    background-position: 0 -3510px
}

.bEY0med-ca {
    background-position: 0 -2106px
}

.bOY0big-ca {
    background-position: 0 -3555px
}

.bOY0med-ca {
    background-position: 0 -2133px
}

.bPU0big-ca {
    background-position: 0 -3600px
}

.bPU0med-ca {
    background-position: 0 -2160px
}

.bPE0big-ca {
    background-position: 0 -3645px
}

.bPE0med-ca {
    background-position: 0 -2187px
}

.bOW0big-ca {
    background-position: 0 -3690px
}

.bOW0med-ca {
    background-position: 0 -2214px
}

.bP30big-ca {
    background-position: 0 -3735px
}

.bP30med-ca {
    background-position: 0 -2241px
}

.bFK0big-ca {
    background-position: 0 -3780px
}

.bFK0med-ca {
    background-position: 0 -2268px
}

.bRV0big-ca {
    background-position: 0 -3825px
}

.bRV0med-ca {
    background-position: 0 -2295px
}

.bNL0big-ca {
    background-position: 0 -3870px
}

.bNL0med-ca {
    background-position: 0 -2322px
}

.bMP0big-ca {
    background-position: 0 -3915px
}

.bMP0med-ca {
    background-position: 0 -2349px
}

.bVH0big-ca {
    background-position: 0 -3960px
}

.bVH0med-ca {
    background-position: 0 -2376px
}

.bGW0big-ca {
    background-position: 0 -4005px
}

.bGW0med-ca {
    background-position: 0 -2403px
}

.b2B0big-ca {
    background-position: 0 -4050px
}

.b2B0med-ca {
    background-position: 0 -2430px
}

.bKW0big-ca {
    background-position: 0 -4095px
}

.bKW0med-ca {
    background-position: 0 -2457px
}

.bVI0big-ca {
    background-position: 0 -4140px
}

.bVI0med-ca {
    background-position: 0 -2484px
}

.bMV0big-ca {
    background-position: 0 -4185px
}

.bMV0med-ca {
    background-position: 0 -2511px
}

.bRW0big-ca {
    background-position: 0 -4230px
}

.bRW0med-ca {
    background-position: 0 -2538px
}

.bSW0big-ca {
    background-position: 0 -4275px
}

.bSW0med-ca {
    background-position: 0 -2565px
}

.bRY0big-ca {
    background-position: 0 -4320px
}

.bRY0med-ca {
    background-position: 0 -2592px
}

.bAB0big-ca {
    background-position: 0 -4365px
}

.bAB0med-ca {
    background-position: 0 -2619px
}

.bFU0big-ca {
    background-position: 0 -4410px
}

.bFU0med-ca {
    background-position: 0 -2646px
}

.bFE0big-ca {
    background-position: 0 -4455px
}

.bFE0med-ca {
    background-position: 0 -2673px
}

.bLL0big-ca {
    background-position: 0 -4500px
}

.bLL0med-ca {
    background-position: 0 -2700px
}

.bGE0big-ca {
    background-position: 0 -4545px
}

.bGE0med-ca {
    background-position: 0 -2727px
}

.bWO0big-ca {
    background-position: 0 -4590px
}

.bWO0med-ca {
    background-position: 0 -2754px
}

.bFB0big-ca {
    background-position: 0 -270px
}

.bFB0med-ca {
    background-position: 0 -162px
}

.b0big-bi {
    width: 160px;
    height: 45px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big_bi.gif?v=6b819fb6f0) no-repeat
}

.b0med-bi {
    width: 96px;
    height: 27px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big_bi.gif?v=6b819fb6f0) 0 0/96px 756px no-repeat
}

.bME0big-bi,.bME0med-bi {
    background-position: 0 0
}

.bGO0big-bi {
    background-position: 0 -45px
}

.bGO0med-bi {
    background-position: 0 -27px
}

.bVG0big-bi {
    background-position: 0 -90px
}

.bVG0med-bi {
    background-position: 0 -54px
}

.bJJ0big-bi {
    background-position: 0 -135px
}

.bJJ0med-bi {
    background-position: 0 -81px
}

.bCA0big-bi {
    background-position: 0 -180px
}

.bCA0med-bi {
    background-position: 0 -108px
}

.bHB0big-bi {
    background-position: 0 -225px
}

.bHB0med-bi {
    background-position: 0 -135px
}

.bWK0big-bi {
    background-position: 0 -270px
}

.bWK0med-bi {
    background-position: 0 -162px
}

.bEL0big-bi {
    background-position: 0 -315px
}

.bEL0med-bi {
    background-position: 0 -189px
}

.bWN0big-bi {
    background-position: 0 -360px
}

.bWN0med-bi {
    background-position: 0 -216px
}

.bPG0big-bi {
    background-position: 0 -405px
}

.bPG0med-bi {
    background-position: 0 -243px
}

.bBR0big-bi {
    background-position: 0 -450px
}

.bBR0med-bi {
    background-position: 0 -270px
}

.bRU0big-bi {
    background-position: 0 -495px
}

.bRU0med-bi {
    background-position: 0 -297px
}

.bSK0big-bi {
    background-position: 0 -540px
}

.bSK0med-bi {
    background-position: 0 -324px
}

.bTA0big-bi {
    background-position: 0 -585px
}

.bTA0med-bi {
    background-position: 0 -351px
}

.bP30big-bi {
    background-position: 0 -630px
}

.bP30med-bi {
    background-position: 0 -378px
}

.bGL0big-bi {
    background-position: 0 -675px
}

.bGL0med-bi {
    background-position: 0 -405px
}

.bCE0big-bi {
    background-position: 0 -720px
}

.bCE0med-bi {
    background-position: 0 -432px
}

.bLD0big-bi {
    background-position: 0 -765px
}

.bLD0med-bi {
    background-position: 0 -459px
}

.bET0big-bi {
    background-position: 0 -810px
}

.bET0med-bi {
    background-position: 0 -486px
}

.bGV0big-bi {
    background-position: 0 -855px
}

.bGV0med-bi {
    background-position: 0 -513px
}

.bKI0big-bi {
    background-position: 0 -900px
}

.bKI0med-bi {
    background-position: 0 -540px
}

.bLP0big-bi {
    background-position: 0 -945px
}

.bLP0med-bi {
    background-position: 0 -567px
}

.bLL0big-bi {
    background-position: 0 -990px
}

.bLL0med-bi {
    background-position: 0 -594px
}

.bUS0big-bi {
    background-position: 0 -1035px
}

.bUS0med-bi {
    background-position: 0 -621px
}

.bAG0big-bi {
    background-position: 0 -1080px
}

.bAG0med-bi {
    background-position: 0 -648px
}

.b7J0big-bi {
    background-position: 0 -1125px
}

.b7J0med-bi {
    background-position: 0 -675px
}

.bIO0big-bi {
    background-position: 0 -1170px
}

.bIO0med-bi {
    background-position: 0 -702px
}

.bAL0big-bi {
    background-position: 0 -1215px
}

.bAL0med-bi {
    background-position: 0 -729px
}

.b0big {
    width: 160px;
    height: 45px;
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big.gif?v=9f6b5f1598) 0 -45px no-repeat
}

.b0med,.b0smed {
    display: block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_0_big.gif?v=9f6b5f1598) no-repeat;
    text-indent: -9999px
}

.b0med {
    width: 96px;
    height: 25px;
    background-size: 96px 2263.2px;
    background-position: 0 -26px
}

.b0smed {
    width: 75px;
    height: 22px;
    background-size: 75px 1886px;
    background-position: 0 -21px
}

.bWH0big,.bWH0med,.bWH0smed {
    background-position: 0 -1px
}

.bWB0big {
    background-position: 0 -47px
}

.bWB0med {
    background-position: 0 -28.6px
}

.bWB0smed {
    background-position: 0 -24px
}

.bVC0big {
    background-position: 0 -93px
}

.bVC0med {
    background-position: 0 -56.2px
}

.bVC0smed {
    background-position: 0 -47px
}

.bSO0big {
    background-position: 0 -139px
}

.bSO0med {
    background-position: 0 -83.8px
}

.bSO0smed {
    background-position: 0 -70px
}

.bSK0big {
    background-position: 0 -185px
}

.bSK0med {
    background-position: 0 -111.4px
}

.bSK0smed {
    background-position: 0 -93px
}

.bSJ0big {
    background-position: 0 -231px
}

.bSJ0med {
    background-position: 0 -139px
}

.bSJ0smed {
    background-position: 0 -116px
}

.bSI0big {
    background-position: 0 -277px
}

.bSI0med {
    background-position: 0 -166.6px
}

.bSI0smed {
    background-position: 0 -139px
}

.bPP0big {
    background-position: 0 -323px
}

.bPP0med {
    background-position: 0 -194.2px
}

.bPP0smed {
    background-position: 0 -162px
}

.bPN0big {
    background-position: 0 -369px
}

.bPN0med {
    background-position: 0 -221.8px
}

.bPN0smed {
    background-position: 0 -185px
}

.bLD0big {
    background-position: 0 -415px
}

.bLD0med {
    background-position: 0 -249.4px
}

.bLD0smed {
    background-position: 0 -208px
}

.bFR0big {
    background-position: 0 -461px
}

.bFR0med {
    background-position: 0 -277px
}

.bFR0smed {
    background-position: 0 -231px
}

.bEE0big {
    background-position: 0 -507px
}

.bEE0med {
    background-position: 0 -304.6px
}

.bEE0smed {
    background-position: 0 -254px
}

.bCE0big {
    background-position: 0 -553px
}

.bCE0med {
    background-position: 0 -332.2px
}

.bCE0smed {
    background-position: 0 -277px
}

.bBY0big {
    background-position: 0 -599px
}

.bBY0med {
    background-position: 0 -359.8px
}

.bBY0smed {
    background-position: 0 -300px
}

.bBX0big {
    background-position: 0 -645px
}

.bBX0med {
    background-position: 0 -387.4px
}

.bBX0smed {
    background-position: 0 -323px
}

.bBW0big {
    background-position: 0 -691px
}

.bBW0med {
    background-position: 0 -415px
}

.bBW0smed {
    background-position: 0 -346px
}

.bFB0big {
    background-position: 0 -737px
}

.bFB0med {
    background-position: 0 -442.6px
}

.bFB0smed {
    background-position: 0 -369px
}

.bBF0big {
    background-position: 0 -783px
}

.bBF0med {
    background-position: 0 -470.2px
}

.bBF0smed {
    background-position: 0 -392px
}

.bBD0big {
    background-position: 0 -829px
}

.bBD0med {
    background-position: 0 -497.8px
}

.bBD0smed {
    background-position: 0 -415px
}

.bB30big {
    background-position: 0 -875px
}

.bB30med {
    background-position: 0 -525.4px
}

.bB30smed {
    background-position: 0 -438px
}

.bWA0big {
    background-position: 0 -921px
}

.bWA0med {
    background-position: 0 -553px
}

.bWA0smed {
    background-position: 0 -461px
}

.bRD0big {
    background-position: 0 -967px
}

.bRD0med {
    background-position: 0 -580.6px
}

.bRD0smed {
    background-position: 0 -484px
}

.bEB0big {
    background-position: 0 -1013px
}

.bEB0med {
    background-position: 0 -608.2px
}

.bEB0smed {
    background-position: 0 -507px
}

.bYW0big {
    background-position: 0 -1059px
}

.bYW0med {
    background-position: 0 -635.8px
}

.bYW0smed {
    background-position: 0 -530px
}

.bOT0big {
    background-position: 0 -1105px
}

.bOT0med {
    background-position: 0 -663.4px
}

.bOT0smed {
    background-position: 0 -553px
}

.bJB0big {
    background-position: 0 -1151px
}

.bJB0med {
    background-position: 0 -691px
}

.bJB0smed {
    background-position: 0 -576px
}

.bHO0big {
    background-position: 0 -1197px
}

.bHO0med {
    background-position: 0 -718.6px
}

.bHO0smed {
    background-position: 0 -599px
}

.bQN0big {
    background-position: 0 -1243px
}

.bQN0med {
    background-position: 0 -746.2px
}

.bQN0smed {
    background-position: 0 -622px
}

.bCO0big {
    background-position: 0 -1289px
}

.bCO0med {
    background-position: 0 -773.8px
}

.bCO0smed {
    background-position: 0 -645px
}

.bsbobet0big {
    background-position: 0 -1335px
}

.bsbobet0med {
    background-position: 0 -801.4px
}

.bsbobet0smed {
    background-position: 0 -668px
}

.bOE0big {
    background-position: 0 -1381px
}

.bOE0med {
    background-position: 0 -829px
}

.bOE0smed {
    background-position: 0 -691px
}

.bMA0big {
    background-position: 0 -1427px
}

.bMA0med {
    background-position: 0 -856.6px
}

.bMA0smed {
    background-position: 0 -714px
}

.bSX0big {
    background-position: 0 -1473px
}

.bSX0med {
    background-position: 0 -884.2px
}

.bSX0smed {
    background-position: 0 -737px
}

.bMR0big {
    background-position: 0 -1519px
}

.bMR0med {
    background-position: 0 -911.8px
}

.bMR0smed {
    background-position: 0 -760px
}

.bWN0big {
    background-position: 0 -1565px
}

.bWN0med {
    background-position: 0 -939.4px
}

.bWN0smed {
    background-position: 0 -783px
}

.bUN0big {
    background-position: 0 -1611px
}

.bUN0med {
    background-position: 0 -967px
}

.bUN0smed {
    background-position: 0 -806px
}

.bBB0big {
    background-position: 0 -1657px
}

.bBB0med {
    background-position: 0 -994.6px
}

.bBB0smed {
    background-position: 0 -829px
}

.bTI0big {
    background-position: 0 -1703px
}

.bTI0med {
    background-position: 0 -1022.2px
}

.bTI0smed {
    background-position: 0 -852px
}

.bBN0big {
    background-position: 0 -1749px
}

.bBN0med {
    background-position: 0 -1049.8px
}

.bBN0smed {
    background-position: 0 -875px
}

.bNT0big {
    background-position: 0 -1795px
}

.bNT0med {
    background-position: 0 -1077.4px
}

.bNT0smed {
    background-position: 0 -898px
}

.bRB0big {
    background-position: 0 -1841px
}

.bRB0med {
    background-position: 0 -1105px
}

.bRB0smed {
    background-position: 0 -921px
}

.bSE0big {
    background-position: 0 -1887px
}

.bSE0med {
    background-position: 0 -1132.6px
}

.bSE0smed {
    background-position: 0 -944px
}

.bSA0big {
    background-position: 0 -1933px
}

.bSA0med {
    background-position: 0 -1160.2px
}

.bSA0smed {
    background-position: 0 -967px
}

.bRZ0big {
    background-position: 0 -1979px
}

.bRZ0med {
    background-position: 0 -1187.8px
}

.bRZ0smed {
    background-position: 0 -990px
}

.bSF0big {
    background-position: 0 -2025px
}

.bSF0med {
    background-position: 0 -1215.4px
}

.bSF0smed {
    background-position: 0 -1013px
}

.bEY0big {
    background-position: 0 -2071px
}

.bEY0med {
    background-position: 0 -1243px
}

.bEY0smed {
    background-position: 0 -1036px
}

.b660big {
    background-position: 0 -2117px
}

.b660med {
    background-position: 0 -1270.6px
}

.b660smed {
    background-position: 0 -1059px
}

.bCL0big {
    background-position: 0 -2163px
}

.bCL0med {
    background-position: 0 -1298.2px
}

.bCL0smed {
    background-position: 0 -1082px
}

.bTY0big {
    background-position: 0 -2209px
}

.bTY0med {
    background-position: 0 -1325.8px
}

.bTY0smed {
    background-position: 0 -1105px
}

.bO30big {
    background-position: 0 -2255px
}

.bO30med {
    background-position: 0 -1353.4px
}

.bO30smed {
    background-position: 0 -1128px
}

.bMK0big {
    background-position: 0 -2301px
}

.bMK0med {
    background-position: 0 -1381px
}

.bMK0smed {
    background-position: 0 -1151px
}

.bDF0big {
    background-position: 0 -2347px
}

.bDF0med {
    background-position: 0 -1408.6px
}

.bDF0smed {
    background-position: 0 -1174px
}

.bPS0big {
    background-position: 0 -2393px
}

.bPS0med {
    background-position: 0 -1436.2px
}

.bPS0smed {
    background-position: 0 -1197px
}

.bLV0big {
    background-position: 0 -2439px
}

.bLV0med {
    background-position: 0 -1463.8px
}

.bLV0smed {
    background-position: 0 -1220px
}

.bCW0big {
    background-position: 0 -2485px
}

.bCW0med {
    background-position: 0 -1491.4px
}

.bCW0smed {
    background-position: 0 -1243px
}

.bFO0big {
    background-position: 0 -2531px
}

.bFO0med {
    background-position: 0 -1519px
}

.bFO0smed {
    background-position: 0 -1266px
}

.bGC0big {
    background-position: 0 -2577px
}

.bGC0med {
    background-position: 0 -1546.6px
}

.bGC0smed {
    background-position: 0 -1289px
}

.bBL0big {
    background-position: 0 -2623px
}

.bBL0med {
    background-position: 0 -1574.2px
}

.bBL0smed {
    background-position: 0 -1312px
}

.bFD0big {
    background-position: 0 -2669px
}

.bFD0med {
    background-position: 0 -1601.8px
}

.bFD0smed {
    background-position: 0 -1335px
}

.bZL0big {
    background-position: 0 -2715px
}

.bZL0med {
    background-position: 0 -1629.4px
}

.bZL0smed {
    background-position: 0 -1358px
}

.bP30big {
    background-position: 0 -2761px
}

.bP30med {
    background-position: 0 -1657px
}

.bP30smed {
    background-position: 0 -1381px
}

.bXX0big {
    background-position: 0 -2807px
}

.bXX0med {
    background-position: 0 -1684.6px
}

.bXX0smed {
    background-position: 0 -1404px
}

.bGR0big {
    background-position: 0 -2853px
}

.bGR0med {
    background-position: 0 -1712.2px
}

.bGR0smed {
    background-position: 0 -1427px
}

.bBK0big {
    background-position: 0 -2899px
}

.bBK0med {
    background-position: 0 -1739.8px
}

.bBK0smed {
    background-position: 0 -1450px
}

.bRT0big {
    background-position: 0 -2945px
}

.bRT0med {
    background-position: 0 -1767.4px
}

.bRT0smed {
    background-position: 0 -1473px
}

.bWT0big {
    background-position: 0 -2991px
}

.bWT0med {
    background-position: 0 -1795px
}

.bWT0smed {
    background-position: 0 -1496px
}

.b210big {
    background-position: 0 -3037px
}

.b210med {
    background-position: 0 -1822.6px
}

.b210smed {
    background-position: 0 -1519px
}

.bPE0big {
    background-position: 0 -3083px
}

.bPE0med {
    background-position: 0 -1850.2px
}

.bPE0smed {
    background-position: 0 -1542px
}

.bFY0big {
    background-position: 0 -3129px
}

.bFY0med {
    background-position: 0 -1877.8px
}

.bFY0smed {
    background-position: 0 -1565px
}

.bMG0big {
    background-position: 0 -3175px
}

.bMG0med {
    background-position: 0 -1905.4px
}

.bMG0smed {
    background-position: 0 -1588px
}

.bOC0big {
    background-position: 0 -3221px
}

.bOC0med {
    background-position: 0 -1933px
}

.bOC0smed {
    background-position: 0 -1611px
}

.bGT0big {
    background-position: 0 -3267px
}

.bGT0med {
    background-position: 0 -1960.6px
}

.bGT0smed {
    background-position: 0 -1634px
}

.bRY0big {
    background-position: 0 -3313px
}

.bRY0med {
    background-position: 0 -1988.2px
}

.bRY0smed {
    background-position: 0 -1657px
}

.bOR0big {
    background-position: 0 -3359px
}

.bOR0med {
    background-position: 0 -2015.8px
}

.bOR0smed {
    background-position: 0 -1680px
}

.bJA0big {
    background-position: 0 -3405px
}

.bJA0med {
    background-position: 0 -2043.4px
}

.bJA0smed {
    background-position: 0 -1703px
}

.bIT0big {
    background-position: 0 -3451px
}

.bIT0med {
    background-position: 0 -2071px
}

.bIT0smed {
    background-position: 0 -1726px
}

.bKW0big {
    background-position: 0 -3497px
}

.bKW0med {
    background-position: 0 -2098.6px
}

.bKW0smed {
    background-position: 0 -1749px
}

.bDR0big {
    background-position: 0 -3543px
}

.bDR0med {
    background-position: 0 -2126.2px
}

.bDR0smed {
    background-position: 0 -1772px
}

.bF80big {
    background-position: 0 -3589px
}

.bF80med {
    background-position: 0 -2153.8px
}

.bF80smed {
    background-position: 0 -1795px
}

.bTL0big {
    background-position: 0 -3635px
}

.bTL0med {
    background-position: 0 -2181.4px
}

.bTL0smed {
    background-position: 0 -1818px
}

.bMI0big {
    background-position: 0 -3681px
}

.bMI0med {
    background-position: 0 -2209px
}

.bMI0smed {
    background-position: 0 -1841px
}

.bTE0big {
    background-position: 0 -3727px
}

.bTE0med {
    background-position: 0 -2236.6px
}

.bTE0smed {
    background-position: 0 -1864px
}

.bT10big {
    background-position: 0 -737px
}

.b90med {
    width: 21px;
    transform: rotate(90deg);
    /* margin-left: 27px; */
    height: 75px;
    /* display: block; */
    display: inline-block;
    background: url(http://static.oddschecker.com/OC/i/OC/logos/allbookie_90_big.gif?v=0078fbf013) 0 0/1333px 75px no-repeat
}

.bWH90med {
    background-position: -1px 0
}

.bX190med {
    background-position: -24px 0
}

.bVC90med {
    background-position: -47px 0
}

.bSO90med {
    background-position: -70px 0
}

.bSK90med {
    background-position: -93px 0
}

.bSJ90med {
    background-position: -116px 0
}

.bJB90med {
    background-position: -139px 0
}

.bPP90med {
    background-position: -162px 0
}

.bX290med {
    background-position: -185px 0
}

.bLD90med {
    background-position: -208px 0
}

.bFR90med {
    background-position: -231px 0
}

.bEE90med {
    background-position: -254px 0
}

.bCE90med {
    background-position: -277px 0
}

.bBY90med {
    background-position: -300px 0
}

.bBX90med {
    background-position: -323px 0
}

.bBW90med {
    background-position: -346px 0
}

.bFB90med {
    background-position: -369px 0
}

.bBF90med {
    background-position: -967px 0;
}

.bBD90med {
    background-position: -415px 0
}

.bB390med {
    background-position: -438px 0
}

.bWA90med {
    background-position: -461px 0
}

.bRD90med {
    background-position: -484px 0
}

.bEB90med {
    background-position: -507px 0
}

.bP390med {
    background-position: -530px 0
}

.bMK90med {
    background-position: -553px 0
}

.bRY90med {
    background-position: -576px 0
}

.bX590med {
    background-position: -599px 0
}

.bX690med {
    background-position: -622px 0
}

.bX790med {
    background-position: -645px 0
}

.bX890med {
    background-position: -668px 0
}

.bX990med {
    background-position: -691px 0
}

.bOE90med {
    background-position: -714px 0
}

.bMA90med {
    background-position: -737px 0
}

.bSX90med {
    background-position: -760px 0
}

.bMR90med {
    background-position: -783px 0
}

.bWN90med {
    background-position: -806px 0
}

.bUN90med {
    background-position: -829px 0
}

.bBB90med {
    background-position: -852px 0
}

.bTI90med {
    background-position: -875px 0
}

.bBN90med {
    background-position: -898px 0
}

.bNT90med {
    background-position: -921px 0
}

.bRB90med {
    background-position: -944px 0
}

.bPE90med {
    background-position: -967px 0
}

.bZ190med {
    background-position: -990px 0
}

.bZ290med {
    background-position: -1013px 0
}

.bZ390med {
    background-position: -1036px 0
}

.bZ490med {
    background-position: -1059px 0
}

.bZ590med {
    background-position: -1082px 0
}

.bZ690med {
    background-position: -1105px 0
}

.bZ790med {
    background-position: -1128px 0
}

.bZ890med {
    background-position: -1151px 0
}

.bZ990med {
    background-position: -1174px 0
}

.bW190med {
    background-position: -1197px 0
}

.bPS90med {
    background-position: -1220px 0
}

.bW290med {
    background-position: -1243px 0
}

.bBL90med {
    background-position: -1266px 0
}

.bW390med {
    background-position: -1289px 0
}

.bW490med {
    background-position: -1312px 0
}

.bT190med {
    background-position: -369px 0
}